.page-banner {
   
}
.imgBanner{
   width: 100%;
}


.ubicacionFoto{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.cajaUbicacion{
    background-color: #FFF;
}
.mapaDsc{
    display: flex;
    justify-content: left;
}

