

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


@import 'menu';
@import 'mediaQuery';
@import 'parrafos';
@import 'contacto';
@import 'metodologia';
@import 'entrenadores';
@import 'videos';
@import 'varios';
@import 'ubicacion';
